In [20]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as numpy

In [23]:
data = pd.read_csv("Covid Data.csv")

In [26]:
data

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,1,1,03/05/2020,97,1,65,2,2,...,2,2,1,2,2,2,2,2,3,97
1,2,1,2,1,03/06/2020,97,1,72,97,2,...,2,2,1,2,2,1,1,2,5,97
2,2,1,2,2,09/06/2020,1,2,55,97,1,...,2,2,2,2,2,2,2,2,3,2
3,2,1,1,1,12/06/2020,97,2,53,2,2,...,2,2,2,2,2,2,2,2,7,97
4,2,1,2,1,21/06/2020,97,2,68,97,1,...,2,2,1,2,2,2,2,2,3,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2,13,2,1,9999-99-99,97,2,40,97,2,...,2,2,2,2,2,2,2,2,7,97
1048571,1,13,2,2,9999-99-99,2,2,51,97,2,...,2,2,1,2,2,2,2,2,7,2
1048572,2,13,2,1,9999-99-99,97,2,55,97,2,...,2,2,2,2,2,2,2,2,7,97
1048573,2,13,2,1,9999-99-99,97,2,28,97,2,...,2,2,2,2,2,2,2,2,7,97
1048574,2,13,2,1,9999-99-99,97,2,52,97,2,...,2,2,2,2,2,2,2,2,7,97

In [27]:
cols = data.columns
missing_vals_count = {}
for col in cols:
    if col != 'AGE':
        missing_vals_count[col] = sum(data[col]==97)

In [28]:
missing_vals_count

{'USMER': 0,
 'MEDICAL_UNIT': 0,
 'SEX': 0,
 'PATIENT_TYPE': 0,
 'DATE_DIED': 0,
 'INTUBED': 848544,
 'PNEUMONIA': 0,
 'PREGNANT': 523511,
 'DIABETES': 0,
 'COPD': 0,
 'ASTHMA': 0,
 'INMSUPR': 0,
 'HIPERTENSION': 0,
 'OTHER_DISEASE': 0,
 'CARDIOVASCULAR': 0,
 'OBESITY': 0,
 'RENAL_CHRONIC': 0,
 'TOBACCO': 0,
 'CLASIFFICATION_FINAL': 0,
 'ICU': 848544}

In [31]:
preg_missing_vals = missing_vals_count['ICU']/df.shape[0]
print(preg_missing_vals)

0.8092353908876332

In [32]:
df = data.drop(['PREGNANT','INTUBED','ICU'], axis=1)
print(df.head(10))

   USMER  MEDICAL_UNIT  SEX  PATIENT_TYPE   DATE_DIED  PNEUMONIA  AGE  \
0      2             1    1             1  03/05/2020          1   65
1      2             1    2             1  03/06/2020          1   72
2      2             1    2             2  09/06/2020          2   55
3      2             1    1             1  12/06/2020          2   53
4      2             1    2             1  21/06/2020          2   68
5      2             1    1             2  9999-99-99          1   40
6      2             1    1             1  9999-99-99          2   64
7      2             1    1             1  9999-99-99          1   64
8      2             1    1             2  9999-99-99          2   37
9      2             1    1             2  9999-99-99          2   25

   DIABETES  COPD  ASTHMA  INMSUPR  HIPERTENSION  OTHER_DISEASE  \
0         2     2       2        2             1              2
1         2     2       2        2             1              2
2         1     2       2        2             2              2
3         2     2       2        2             2              2
4         1     2       2        2             1              2
5         2     2       2        2             2              2
6         2     2       2        2             2              2
7         1     2       2        1             1              2
8         1     2       2        2             1              2
9         2     2       2        2             2              2

   CARDIOVASCULAR  OBESITY  RENAL_CHRONIC  TOBACCO  CLASIFFICATION_FINAL
0               2        2              2        2                     3
1               2        1              1        2                     5
2               2        2              2        2                     3
3               2        2              2        2                     7
4               2        2              2        2                     3
5               2        2              2        2                     3
6               2        2              2        2                     3
7               2        2              1        2                     3
8               2        1              2        2                     3
9               2        2              2        2                     3